# git
.git
.gitignore

# node
**/node_modules
**/dist
**/.vite
**/.cache
**/coverage

# python
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv

# OS
.DS_Store
Thumbs.db

# misc
.env
.admin_token
logs/
data/
build/
dist/
/alembic.ini
!platform/processing-core/app/alembic.ini
!platform/auth-host/app/alembic.ini
.vscode/
.idea/
